@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,700;1,400&display=swap');

html,
body {
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'PT Serif', serif;
}

.main-layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    flex-basis: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
}

.logo {
    flex-basis: 20%;
}
.logo img {
    max-width: 20%;
    display: inline-block;
    border-radius: 50%;
}

.nav-section {
    display: flex;
    flex-basis: 40%;
    justify-content: space-evenly;
}

.nav-section a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.hero-section {
    background-color: #1F2937;
    display: flex;
    color: white;
    padding: 2rem;
    justify-content: center;
    gap: 2rem;
}

.hero-text {
    flex-basis: 30%;
}

.hero-title {
    font-weight: 700;
    font-size: 3rem;
}

.hero-image {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
}

.hero-image img {
    max-width: 50%;
    height: auto;
}

.hero-button {
    padding: 0.5rem 1rem;
    background: #3882F6;
    border: none;
    color: white;
    border-radius: 10%;
}

.information-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    background-color: #FFF;
    padding: 3rem;
}

.information-title {
    font-size: 2rem;
    color: #1F2937;
    font-weight: 700;
}

.information-title h3 {
    margin: 0;
}

.information-box-section {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.information-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.information-box-picture img {
    height: 200px;
    width: 200px;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.quote-text {
    width: 80%;
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    color: #1F2937;
}

.quote-text p {
    margin: 0;
}

.quote-author {
    width: 80%;
    text-align: end;
}

.quote-author p {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

.call-to-action-section {
    height: 30vh;
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.call-to-action {
    width: 80%;
    background-color: #3882F6;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    border-radius: 20px;
    padding: 2rem;
}

.call-to-action-header {
    margin: 0;
}

.call-to-action-text {
    font-weight: 400;
    font-style: italic;
    margin: 0;
}

.call-to-action-button {
    padding: 1rem;
    background-color: #3882F6;
    border: 2px white solid;
    color: white;
    border-radius: 4px;
}


.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}